<template>
  <v-row justify="center">
    <v-col cols="12" md="8">
      <v-card elevation="2">
        <v-card-title class="warning white--text pa-2">
          <span>
            {{ $t("caption") }}
          </span>
        </v-card-title>
        <v-card-text class="pa-2">
          <v-row justify="center">
            <v-col cols="12" md="3">
              <v-text-field
                :rules="rules"
                :label="$t('num1')"
                v-model="num1"
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="3">
              <v-select
                :items="items"
                v-model="operator"
                :label="$t('operator')"
                outlined
              ></v-select>
            </v-col>
            <v-col cols="12" md="3">
              <v-text-field
                :rules="rules"
                v-model="num2"
                :label="$t('num2')"
                outlined
              ></v-text-field
            ></v-col>
            <v-col cols="12" md="3">
              <v-btn color="success" @click="solveResult" block x-large>
                {{ $t("result") }}
              </v-btn></v-col
            >
          </v-row>

          <v-row>
            <v-col cols="12">
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th>
                        پاسخ
                      </th>
                      <th>
                        مساله
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ result }}</td>
                      <td>= {{ num2 }} {{ operator }} {{ num1 }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  name: "SwitchCal",
  data() {
    return {
      rules: [
        (value) => /^[0-9]+$/.test(value) || `${this.$t("thisFieldIsNumber")}`,
      ],
      items: ["+", "-", "*", "/", "%", "^"],
      num1: null,
      num2: null,
      operator: null,
      result: null,
    };
  },
  methods: {
    solveResult() {
      switch (this.operator) {
        case "+":
          this.result = parseInt(this.num1) + parseInt(this.num2);
          break;
        case "-":
          this.result = parseInt(this.num1) - parseInt(this.num2);
          break;
        case "*":
          this.result = parseInt(this.num1) * parseInt(this.num2);
          break;
        case "/":
          this.result = parseInt(this.num1) / parseInt(this.num2);
          break;
        case "%":
          this.result = parseInt(this.num1) % parseInt(this.num2);
          break;
        case "^":
          this.result = parseInt(this.num1) ** parseInt(this.num2);
          break;
      }
    },
  },
};
</script>

<style scoped></style>
