<template>
  <v-row justify="center" class="mt-6">
    <v-col md="12">
      <SwitchCal />
      <ComputedCal />
    </v-col>
  </v-row>
</template>

<script>
import SwitchCal from "./calculator/SwitchCal";
import ComputedCal from "./calculator/ComputedCal";

export default {
  name: "Home",
  components: {
    SwitchCal,
    ComputedCal,
  },
};
</script>

<style scoped></style>
